<!DOCTYPE html>
<html lang="it">
<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>{{ site.title }} | {{page.title}} </title>
  <link rel="shortcut icon" type="image/x-icon" href="<?= url('favicon.ico') ?>">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
<body>
<div onclick="topFunction()" id="scroll_top"> </div>
<div class="grid">
  <div class="header">
    <div class="title">
     <a href="{{ site.baseurl }}">{{ site.title }}</a> 
     {% assign uniqueTags = "" | split: "|" %}
     {% for page in site.pages %}
        {% for tag in page.tags %}
          <!--{{tag}}-->
          {% unless uniqueTags contains tag %}
            {% assign uniqueTags = uniqueTags | push: tag %}
            {{tag}}{% unless forloop.last %},{% endunless %}
          {% endunless %}
        {% endfor %}
      {% endfor %}
      <!--{{uniqueTags}}-->
    </div>
    <ul class="bigmenu">
      {% for item in site.data.menu%}
      <li data-tags="{{item.category}}"> 
        {{item.title}}
      </li>
        <div class="submenu">
          {%assign sortedPosts = site.pages | sort: 'sort'%}
          {% for page in sortedPosts %}
            {% if page.categories contains {{item.category}}%}
            <li><a href="#{{page.slug}}" data-id="{{page.slug}}">{{page.title}}</a>  </li>      
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </ul>
    <div class="menu"> 
        <ul class="menu_dropdown">
    <ul class="bigmenu">
      {% for item in site.data.menu%}
      <li data-tags="{{item.category}}"> 
        {{item.title}}
      </li>
        <div class="submenu">
          {% for page in site.pages %}
            {% if page.categories contains {{item.category}}%}
            <li><a href="{{site.url}}{{site.baseurl}}#{{page.slug}}" data-id="{{page.slug}}">{{page.title}}</a>  </li>      
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </ul>
      </div>
  </div>
</div>

<main class="grid contents">
