
@font-face {
  font-family: "Suisse";
  src: url("../fonts/SuisseIntl-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suisse";
  src: url("../fonts/SuisseIntl-SemiBold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Neue";
  src: url("../fonts/SuisseNeue-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Works";
  src: url("../fonts/SuisseWorks-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Works";
  src: url("../fonts/SuisseWorks-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


$backgroundColor: #ffffff;
$bodyColor: black;
$lightGrey:lightgrey;
$midGrey: #9a9999;
$bodyFont: 'Suisse';
$serifFont: "Suisse Neue";
$fontSize: 14px;
$padding: 1rem;
$gutter: $padding;
$border: 0px solid $lightGrey;
$highlight: blue;
$transition: 0.5s;
$headerHeight: $padding;
$shadow: 0px 0px 22px 13px $lightGrey;



html{
  scroll-behavior:smooth;
}

body {
  font-size: $fontSize;
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  & ::selection{
    background: $highlight;
    color: white;
  }
}
main{ 
  animation: fadeIn 1.3s;
}
img {
  max-width:800px;
}

li {
  list-style: none;
}
a {  
  text-decoration: none;
  text-underline-offset: 0.3rem;
  color: $highlight;
  &:hover {
    color:$highlight;
    transition: $transition;
  }
}
h1{
  font-weight:500;
}
h2{
  font-size: 1.5rem;
  margin:0px;
}
.grid {
  $columns: 12;
  display: grid;
  grid-gap: $gutter;
  grid-template-columns: repeat($columns, 1fr);
  & p{
    grid-column: 1 / 12;
    padding-bottom: $padding;
    font-family: $serifFont;
    line-height: 148%;
  }
  & > .column {
  margin-bottom: 1rem;
  grid-column: span $columns;
  } 
}
.header{
  /*padding: calc(#{$padding} * 3) $padding 0 calc(#{$padding} * 1); */
  padding: 0px;
  margin: -1rem -1rem -2rem -1rem;
  position: fixed;
  height: 110vh;
  background: $midGrey;
  border-right: $border;
  font-weight: 500;

  ul {
    padding-left: 0px;
    color: $lightGrey ;
  }
  li>a{
    color: $lightGrey ;
  }
}
.title {
  padding: $padding;
  a{
    mix-blend-mode: normal;
    color: white;
  }
}

.active {
  color: black !important;
  font-weight: bold;
}

.bigmenu{
  .bigActive {
    background: black;
    color: white;
    border-color: black;
  }
    .filtering {
    background: blue;
    color: white;
    border-color: blue;

  }
  li{
    width: -webkit-fill-available;
    padding: calc(#{$padding} / 4) 1rem calc(#{$padding} / 4) calc(#{$padding} *1.5);
    border-bottom: 1px solid white;
    margin-top: 1rem;
    &:hover{
      cursor: pointer;
    }
  }
}

.submenu{
  li {
    margin-top: 0px;
    padding: 0.1rem 1rem 0.1rem 2rem; ;
  }
  li:has(> a.active){
    background: $lightGrey;
  }
}


.content{
  grid-column: 3 / 12;
  opacity: 0;
  display: none;
  height: 0;
  transition: opacity $transition ease-in;

  > .grid{
    $columns: 9;
      grid-template-columns: repeat($columns, 1fr);
  }
  a {
    color: $bodyColor;
  }
}

.desc {
  grid-column: 1 / 4;
  border-right: $border;
  padding:0rem 1rem 0rem 1rem;
  > * {
  position: sticky;
  top:calc(#{$padding}*3);
  display:block;
  position: -webkit-sticky;
  }
}
.info {
  font-weight:500;
  color: grey;
}
.text-toggle{
  &:before{
    display: block;
    content: "";
    background-image: url(../icons/more.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 0.9rem;
    height: 0.9rem;
    position: relative;
    left: 0;
    top: 1rem;
    padding-bottom: $padding;
  }&:hover{
    cursor: pointer;
  }
}
.text-toggle_open{
  &:before{
    display: block;
    content: "";
    background-image: url(../icons/less.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 0.9rem;
    height: 0.9rem;
    position: relative;
    left: 0;
    top: 1rem;
    padding-bottom: $padding;
  }&:hover{
    cursor: pointer;
  }
}
.photo{
  grid-column: 4 / 10;
}

/*.header{
  mix-blend-mode: difference;
  padding: $padding; 
  margin: -1rem;
  position: fixed;
  line-height: 140%;
  width: 100%;
  height: $headerHeight;
  transition: $transition;
  align-items: baseline;
  & a {
    color: white;
;
  }
  & ul {
    display: contents;
  }
  .title{
    grid-column: 1 / 4;
  }
}*/

#scroll_top {
  mix-blend-mode: plus-lighter;
  height: 1rem;
  width: 1rem;
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 2rem;
  z-index: 104;
  border: $border;
  outline: none;
  background-color:lightgoldenrodyellow;
  color: $midGrey;
  cursor: pointer;
  padding: $padding;
  border-radius: 6rem;
  /* filter: drop-shadow(0px 0px 6px $color-light); */
  transition: $transition;
  content: "";
  align-content: center;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  right: $padding;
  filter: blur(9px);
}


.item h3{
  position: sticky;
  color: white;
  top: $headerHeight;
  mix-blend-mode: difference;
}

.footer{
  grid-column: 1 / 12;
  padding: $padding;
  margin: -1rem;
  position: sticky;
  z-index: 103;
  margin-top: 1rem;
  line-height: 140%;
  & > .column {
    $columns: 2;
    grid-column: span $columns;  
  }
}

.menu{
  padding: 0px 0px $padding $padding;
  grid-column: 9 / 12;
  display: none;
  align-items: end;
  & ul {
    width: 100%;
  }
  & li{
    border-bottom: $border;
  }
}
.show {
  height: auto;
  opacity: 1!important;
  display: block;
  transition: opacity $transition ease-out;
  //animation: fadeIn 1s;
}
.hide{
  display: none;
}


@media (max-width: 768px){
  $headerHeight: 2rem;
  $fontSixe: 2rem;
  body{
    font-size: 18px;
  }
  img{
    max-width: 96vw;
    height: auto;
  }
  .header{
    background: none;
    mix-blend-mode: normal;
    padding: $padding; 
    margin: -1rem;
    position: fixed;
    z-index: 100;
    line-height: 140%;
    width: 100%;
    height: $headerHeight;
    transition: $transition;
    align-items: baseline;
    grid-column: 1 / 12;
    .title a{
    padding: 0px;
    }
    a {
    color: white;
    }
    li {
    display: contents;
    }
    .title{
      color: $bodyColor;
      padding: 0px;
      grid-column: 1 / 3;
      }
  }


  h3{
    font-size: $fontSize;
  }
  .bigmenu{
    display: none;
  }
  .menu{
    display: block;
    grid-column: 11 / 12;
  }
  .menu:before {
    content: "";
    background-image: url(../icons/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    position: fixed;
    right: calc(#{$padding} * 2);
    top: $padding;
  }
  .menu_dropdown{
    display: none;
    width: 96vw !important;
    height: 100vh !important;
    margin: -1rem;
    padding: $padding;
    padding-top: 4rem;
    top: $padding;
    left: $padding;
    background: white;
    line-height: 160%;
    grid-column-start: 1;
    grid-column-end: 12;
    position: fixed;
    li {
      display: list-item;  
      margin-right: 2rem;
    }

  }
  .showmenu{
      display: block !important;
      > *{
        display: block !important ;
      }
  }
  .menu_open:before {
    background-image: url(../icons/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: " ";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: fixed;
    right: calc(#{$padding} * 2);
    z-index: 1;
}
  .content{
    padding-top:  ($headerHeight * 2 );
    grid-column: 1 / 12;
  }
  .photo{
    grid-column: 1 / 12;

  }
  .desc{
    grid-column: 1 / 12; 
    & > *{
      position: relative;
      grid-column: 1 / 12;
    }
  }
  .item h3{
    top: $headerHeight * 2;
  }
}



