
@font-face {
  font-family: "Suisse";
  src: url("../fonts/SuisseIntl-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suisse";
  src: url("../fonts/SuisseIntl-SemiBold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Neue";
  src: url("../fonts/SuisseNeue-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Works";
  src: url("../fonts/SuisseWorks-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Works";
  src: url("../fonts/SuisseWorks-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Apple Garamond";
  src: url("../fonts/AppleGaramond-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Authentic";
  src: url("../fonts/AUTHENTICSans-60.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Authentic";
  src: url("../fonts/AUTHENTICSans-90.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Authentic";
  src: url("../fonts/AUTHENTICSans-130.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Authentic";
  src: url("../fonts/AUTHENTICSans-150.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Authentic Condensed";
  src: url("../fonts/AUTHENTICSans-Condensed-60.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Authentic Condensed";
  src: url("../fonts/AUTHENTICSans-Condensed-90.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Authentic Condensed";
  src: url("../fonts/AUTHENTICSans-Condensed-130.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Authentic Condensed";
  src: url("../fonts/AUTHENTICSans-Condensed-150.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gap Sans";
  src: url("../fonts/GapSansBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Terminal Open";
  src: url("../fonts/terminal-grotesque_open.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Terminal";
  src: url("../fonts/terminal-grotesque.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


$backgroundColor: white;
$bodyColor: black;
$lightGrey: lightgrey;
$midGrey: #9a9999;
$accentFont: 'Suisse';
$bodyFont: "Suisse";
$fontSize: 14px;
$padding: 1rem;
$gutter: $padding;
$border: 0px solid $lightGrey;
$highlight: blue;
$transition: 0.5s;
$headerHeight: 12rem;
$shadow: 0px 0px 22px 13px $lightGrey;



html{
  scroll-behavior: smooth;
  font-size: $fontSize;
}

body {
  font-size: $fontSize;
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $accentFont;
  font-size: $fontSize;
  margin:0px;
  & ::selection{
    background: $highlight;
    color: $backgroundColor;
  }
}
main{ 
  animation: fadeIn 1.3s;
}
img {
  //max-width:67vw;
}


a {  
  font-family: $accentFont;
  text-decoration: none;
  text-underline-offset: 0.3rem;
  color: $highlight;
  &:hover {
    color:$highlight;
    transition: $transition;
  }
}
h1{
  font-weight:500;
}
h2{
  font-size: 1.5rem;
  margin:0px;
  font-weight: 400;
}
h3{
  font-weight:500;
}
.grid {
  $columns: 12;
  display: grid;
  grid-gap: $gutter;
  grid-template-columns: repeat($columns, 1fr);
  & p{
    grid-column: 1 / 12;
    padding-bottom: $padding;
    font-family: $bodyFont;
    line-height: 148%;
  }
  & > .column {
  margin-bottom: 1rem;
  grid-column: span $columns;
  } 
  &.contents{
    margin-top: ($headerHeight * 1 );
  }
}
.header{
  /*padding: calc(#{$padding} * 3) $padding 0 calc(#{$padding} * 1); */
  padding: 0px;
 /* margin: ($headerHeight + $padding) -1rem -2rem -1rem;*/
  margin-left: -$padding;
  //position: sticky;
  /*width: 220px;*/
  /*grid-column: 1 / 12;*/
  height: 110vh;
  top: 1.5rem;
  left: 0;
  grid-column: 1 / 4;
  /*background: $midGrey;*/
  border-right: $border;
  font-size: 1rem;
  font-weight: 400;

  ul {
    padding-left: 0px;
    color: $lightGrey ;
  }
  li>a{
    color: $lightGrey ;
  }
}
.title {
  /*padding: $padding;
  color: $midGrey;
  margin: 0rem -1rem -2rem -1rem;
  font-weight: 400;
  font-size: 24pt;
  height: $headerHeight;*/
  z-index: 1111;
  height: auto;
  position: fixed;
  //right: $padding;
  right: $padding;
  
  //mix-blend-mode: subtract;
  padding: 1rem;
    //background: #efefef;
  /*box-shadow: 0px 0px 1px 0px $midGrey;
  top: 0;
  border-radius: 0.5rem;
  border: 1px solid #e7e7e7;
  backdrop-filter: blur(30px) brightness(1.5) contrast(0.6) saturate(0.1);*/
  a{
    //position: sticky;
    top:0;
    mix-blend-mode: normal;
    //color: white;
    //background: $highlight;
    font-weight: 600;
    padding: 0.1rem 0.25rem 0rem 0.25rem;
  }
}

.active {
  color: black !important;
  font-weight: 600;
}

.bigmenu{
  li::after{
    display: block;
    content: "";
    background-image: url(../icons/filter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    margin-top: -1.2rem;
    right: 0.25rem;
  }
  .bigActive {
    background: black;
    color: white;
    border-color: black;
  }
    .filtering {
    background: blue;
    color: white;
    border-color: blue;
  }
  li{
    font-family: $bodyFont !important;
    width: -webkit-fill-available;
    padding: calc(#{$padding} / 4) 1rem calc(#{$padding} / 4) calc(#{$padding} *1.5);
    border-bottom: 1px solid white;
    margin-top: 1rem;
    background: $midGrey;
    color: white;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    &:hover{
      cursor: pointer;
    }
  }
  
}

.submenu{
   display: unset;
   
  li {
    
    margin-top: 0px;
    padding: 0.1rem 1rem 0.1rem 2rem;
    background: white; 
    display: inline-flex;
    text-transform: none;
    letter-spacing: 0rem;
    a {
      color: $lightGrey;
      font-family: $bodyFont !important;
    }

    &::after{
      display: none;
    }
    &::before{
    display: block;
    content: "〇 ";
    font-size: 11pt;
    position: relative;
    top: -1px;
    right: 2px;
    color: $lightGrey;
    /*background-image: url(../icons/filter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    margin-top: -1.2rem;
    right: 0.25rem;*/
    }
  }
  li:has(> a.active){
    background: white;
    &::before{
    content: "◉ ";
    color: black;
    }
  }
}

.contents{
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: scroll;
  grid-column: 1 / 13;
  margin-top: 0rem;

}
.content{
  position: relative;
  grid-column: 1 / 13;
  opacity: 0;
  display: none;
  height: 0;
  margin-top: 0rem;
  //padding-top:$padding;
  transition: opacity $transition ease-in;
  scroll-snap-align: start;
  scroll-padding: 0rem;

  > .grid{
    $columns: 8;
      grid-template-columns: repeat($columns, 1fr);
  }
  a {
    color: black;
    display:inline-block;
  }
}

.desc {
  margin:1rem;
  position: absolute;
  font-family: $bodyFont;
  width: 500px;
  //grid-column: 1 / 13;
  border-right: $border;
  padding:0rem 1rem 0rem 0rem;
  //position: sticky;
  *:hover{cursor: pointer;}
  *:first-of-type{
    margin: 0px;
  }

  > * {
  //position: sticky;
  top:$padding;//calc(#{$padding}*3);
  display:block;
  //position: -webkit-sticky;
  }
}
.info {
  border-top: $border;
  font-weight:400;
  color: black;
  padding-top: 1rem; 
  column-count: 2;
}
.date {
  font-weight: 500;
  color:white;
}
.tag {
  margin-top: 0rem;
  li{
    margin:0.25rem;
    display: inline-block;
    padding: 0rem 0.25rem;
    border: 1px solid;
    border-radius: 0.75rem;
    color: #5b5b5b;
  }
}
.text-toggle{
  &:before{
    display: inline-block;
    content: "";
    background-image: url(../icons/more.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 0.9rem;
    height: 0.9rem;
    position: fixed;
    bottom: 0rem;
    right: 0.5rem;
    //top: 1rem;
    padding-bottom: $padding;
  }&:hover{
    cursor: pointer;
  }
}
.text-toggle_open{
  &:before{
    display: block;
    content: "";
    background-image: url(../icons/less.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 0.9rem;
    height: 0.9rem;
    position: fixed;
    bottom: 0rem;
    right: 0.5rem;
    padding-bottom: $padding;
  }&:hover{
    cursor: pointer;
  }
}

.link{
  position: absolute;
  padding: 0.4rem 0rem 0rem 0.5rem;
}
.photo{
  
  grid-column: 1 / 13;
  a{
    color: $highlight !important;
  }
}
.outer {
  //padding-left: $padding;

  border-radius: 0rem;
      grid-column: 1 / 12;
      overflow-y: hidden;
      height: calc(100vh + 0rem);
      width: 100vw;

      //border: 1px solid blue;
    }

    .flex-container {
      scroll-snap-type: x mandatory;
      border-radius: 0rem;
      overflow-x: auto;
      display: flex;
      flex-wrap: nowrap;
    }

    .card {
      scroll-snap-align: start;
      scroll-padding: 0rem;
      //max-height: 800px;
      display: inline-block;
      margin-right: 5px;
      //border: 1px solid;

      
    }
    img.card{
      object-fit: cover;
      height: calc(100vh - 1rem);
      width: auto;
    }
    img.card:last-of-type{
      margin:0px;
    }
/*.header{
  mix-blend-mode: difference;
  padding: $padding; 
  margin: -1rem;
  position: fixed;
  line-height: 140%;
  width: 100%;
  height: $headerHeight;
  transition: $transition;
  align-items: baseline;
  & a {
    color: white;
;
  }
  & ul {
    display: contents;
  }
  .title{
    grid-column: 1 / 4;
  }
}*/

#scroll_top {
  mix-blend-mode: difference;
  height: 1rem;
  width: 1rem;
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 2rem;
  z-index: 10000;
  border: $border;
  outline: none;
  background-color:#f2f2f2;
  color: $midGrey;
  cursor: pointer;
  padding: $padding;
  border-radius: 6rem;
  /* filter: drop-shadow(0px 0px 6px $color-light); */
  transition: $transition;
  content: "";
  align-content: center;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  right: $padding;
  filter: blur(9px);
}


.item{
    /* grid-column: 1 / 9; */
    padding: 1rem;
    z-index: 1000;
    //background: #efefef;
    box-shadow: 0px 0px 1px 0px $midGrey;
    top: 0;
    border-radius: 0.5rem;
    //border: 1px solid #e7e7e7;
    -webkit-backdrop-filter: blur(40px) brightness(1.1) contrast(0.5) saturate(0.1);
    backdrop-filter: blur(40px) brightness(4) contrast(0.7) saturate(0.1);

  h3{
  position: sticky;
  padding-top: $padding;
  color: white;
  
  mix-blend-mode: difference;
  }
}

.footer{
  grid-column: 1 / 12;
  padding: $padding;
  margin: -1rem;
  position: sticky;
  z-index: 103;
  margin-top: 1rem;
  line-height: 140%;
  & > .column {
    $columns: 2;
    grid-column: span $columns;  
  }
}

.menu{
  padding: 0px 0px $padding $padding;
  grid-column: 9 / 12;
  display: none;
  align-items: end;
  & ul {
    width: 100%;
  }
  & li{
    border-bottom: $border;
  }
}
.bio{
  opacity: 0;
  color: white;
  column-count: 2;
  transition: width 0s, opacity 0s  ;
  max-height: 30px ;
  padding:0rem 1rem;


}
.scale-up-tr {
    border-radius: 2rem;
    background: blue;
    position: fixed;
    right: 1rem;
    top: 1rem;
    height: 1rem;
    width: 1rem;
    transition: height 0.2s, width 0.2s;
    /*-webkit-backdrop-filter: blur(76px) brightness(0.7) contrast(0.9) hue-rotate(73deg);
    backdrop-filter: blur(76px) brightness(0.7) contrast(0.9) hue-rotate(73deg);*/

  &:hover{

    height: 100vh;
    width: 50vw;
    transition: width 0.3s, height 0.5s ease 0.2s ;
    border-radius: 0rem;
    margin:-1rem;
  &>.bio{
    opacity: 1;
    transition: width 0s, opacity 0.8s ease 0.5s ;
    overflow: hidden;
    max-height: 100% ;
    margin-top: 3rem;



  }
  /*-webkit-animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;}*/}
  & a{
    padding: 1rem 0.5rem 1rem 0rem;
    position: fixed;
    right: $padding;
    color: white;
    background: none;
    font-size: 2rem;
  }
}

.show {
  height: auto;
  opacity: 1!important;
  display: block ;
  transition: opacity $transition ease-out;
  //animation: fadeIn 1s;
}
.hide{
  display: none;
}


@media (max-width: 768px){
  $headerHeight: 2rem;
  $fontSixe: 2rem;
  body{
    font-size: 14px;
  }
  img{
    max-width: 96vw;
    height: auto;
  }
  .header{
    background: none;
    mix-blend-mode: normal;
    padding: $padding; 
    margin: -1rem;
    position: sticky;
    top: $headerHeight;
    z-index: 100;
    line-height: 140%;
    width: 100%;
    transition: $transition;
    align-items: baseline;
    grid-column: 1 / 12;

    .title a{
    padding: 0px;
    }
    a {
    color: white;
    }
    li {
    display: contents;
    }
    .title{
      color: $midGrey;
      padding: 0px;
      grid-column: 1 / 3;
      }
  }

  h2{
    font-size: 1.5em;
  }
  h3{
    font-size: $fontSize;
  }
  .bigmenu{
    display: none;

  }
  .menu{
    display: block;
    grid-column: 11 / 12;
  }
  .menu:before {
    content: "";
    background-image: url(../icons/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    position: fixed;
    right: calc(#{$padding} * 2);
    top: $padding;
  }
  .menu_dropdown{
    display: none;
    width: 96vw !important;
    height: 100vh !important;
    margin: -1rem;
    padding: $padding;
    padding-top: 4rem;
    top: $padding;
    left: $padding;
    background: white;
    line-height: 160%;
    grid-column-start: 1;
    grid-column-end: 12;
    position: fixed;
    li {
      display: list-item;  
      margin-right: 2rem;
    }

  }
  .showmenu{
      display: block !important;
      > *{
        display: block !important ;
      }
  }
  .menu_open:before {
    background-image: url(../icons/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: " ";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: fixed;
    right: calc(#{$padding} * 2);
    z-index: 1;
}
  .content{
    //padding-top:  ($headerHeight * 2 );
    grid-column: 1 / 12;
  }
  .photo{
    grid-column: 1 / 12;

  }
  .desc{
    grid-column: 1 / 12; 
    width: calc(100% - 2rem);
    & > *{
      position: relative;
      grid-column: 1 / 12;
    }
  }
  .item {
    -webkit-backdrop-filter: blur(32px) brightness(2) contrast(0.5) saturate(0.1);
    backdrop-filter: blur(32px) brightness(2) contrast(0.5) saturate(0.1);
  h3{
    top: $headerHeight * 2;
  }
}
  .info{
    column-count: 1;
  }
}

@-webkit-keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(4);
            transform: scale(4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(4);
            transform: scale(4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}



