{% include header.html %}
{%assign sortedPosts = site.pages | sort: 'sort'%}
{% for page in sortedPosts %}
  {% if page.categories contains 'project' or  page.categories contains 'writing' or  page.type contains 'about' %}    
    <div class="content show {{page.layout}} " id="{{page.slug}}">
      <div class="grid">
          <div class="desc">
            <div class="item">
                <a name="{{page.slug}}" href="{{site.baseurl}}{{page.url}}"><h2>{{page.title}}</h2></a>

                <div class="info">{{page.subtitle}}<br>
                {{page.date}} <br>
                {{page.tags}} </div>
                {% if page.link %}
                <a class="link" href="{{page.link}}"> 🔗 </a>
                {% endif%}
                {% if page.description %}
                <div class="text-toggle"></div> 
                <p class="hide">{{page.description}}</p>
                {% endif%}
                
            </div>
        </div>
        <div class="photo">{{page.content}} </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
{% include footer.html %}