{% include header.html %}

{% for page in site.pages %}
  {% if page.categories contains 'project' or  page.categories contains 'writing' or  page.type contains 'about' %}    
    <div class="content show {{page.layout}} " id="{{page.slug}}">
      <div class="grid">
          <div class="desc">
            <div class="item">
                <h2>{{page.title}}</h2>
                <div class="info">{{page.subtitle}}<br>
                {{page.date}} <br>
                {{page.tags}} </div>
                
                <div id="text-toggle"></div> 
                <p class="hide">{{page.description}}</p>
            </div>
        </div>
        <!--<a name="{{page.slug}}" href="{{site.baseurl}}{{page.url}}">--><div class="photo">{{page.content}} </div><!--</a>-->
      </div>
    </div>
  {% endif %}
{% endfor %}
{% include footer.html %}