{% include head.html %}
<div class="grid">
  <div id="copertina">
    <h1>Portfolio </h1>
    Stefania D'Eri <br>
    {{ "now" | date: "%Y" }}
  </div>
</div>

{% for page in site.pages %}
  {% if page.categories contains 'project' %}    
<div class="grid" id="progetto">
  <div class="dati">
    <h2>{{page.title}}</h2> 
    {% if page.link %}
        <a class="link" href="{{page.link}}"> 🔗 </a>
      {% endif%}
    <h3>{{page.subtitle}}</h3>
    <div class="info">
      {{page.date}} <br>
      {{page.tags}}
      
    </div>
  </div>
  <div class="desc">{{page.description}}</div>
</div>
  {{page.content}} 
  {% endif %}
{% endfor %}

{% include foot.html %}