{% include header.html %}

{% for page in site.pages %}
	{% if page.categories contains 'writings' %}
		<div class="content grid">
	  		<div class="desc">
	    		<a href="{{site.baseurl}}{{page.url}}">
	    			<div class="item">
		      			<h2>{{page.title}}</h2>
		      			{{page.subtitle}}<br>
		      			{{page.date}} <br>
		      			{{page.tags}}
		      			<p>{{page.description}}</p>
		      		</div>
		      	</a>
			</div>
		    <div class="photo">{{page.content}} </div>
		</div>
  {% endif %}
{% endfor %}
{% include footer.html %}